body {
  font-family: 'Roboto', sans-serif;
  background-color: linear-gradient(90deg, rgba(213,213,221,1) 0%, rgba(238,241,245,0.9808298319327731) 26%, rgba(238,243,245,1) 100%);
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat:ital';
  font-weight: 700;
}

.navbar {
  background: linear-gradient(90deg, rgba(11,11,14,1) 0%, rgba(15,119,227,0.9808298319327731) 26%, rgba(0,212,255,1) 100%);
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.logoNav {
  width: 50px;
  border-radius: 10rem;
}

.nav-link:hover {
  color: #333 !important;
}

.titulo {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  color: #343a40;
}

.highlight {
  color: #007bff;
  font-weight: bold;
}

.feature-section {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  
}

.feature-section img {
  max-width: 100%;
  border-radius: 10px;

}

.feature-section p {
  text-align: justify;
}

.footer {
  background: linear-gradient(90deg, rgba(11,11,14,1) 0%, rgba(15,119,227,0.9808298319327731) 26%, rgba(0,212,255,1) 100%);
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.footer a {
  color: #ffffff;
  margin: 0 10px;
}

.footer a:hover {
  color: #0d0d0e;
  text-decoration: none;
}

.footer .social-icons {
  margin-top: 20px;
}

.footer .social-icons a {
  font-size: 1.5em;
  margin: 2rem;
  color: #ffffff;
  transition: color 0.3s;
}

.footer p {
  text-align: justify;
}


.button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #333;
  color: white;
}



.logoDiv {
  width: 200px;
  border-radius: 10rem;
  margin-top: 5rem;

}
label{
  font-weight: bold;
}

.footer .social-icons a:hover {
  color: #007bff;
}

.contact-info {
  display: flex;
  flex-direction: column; /* Garante que os itens fiquem em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  gap: 10px; /* Espaçamento entre os itens */
  text-align: center; /* Centraliza o texto */
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white; /* Ajuste a cor conforme necessário */
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.logo {
  width: 40px;
  padding: 5px;
}

@media (max-width: 768px) {
  .navbar-brand, .nav-link , p{
    font-size: 1rem;
    text-align: justify;
  }

  .feature-section {
    flex-direction: column;
    
  }

  .footer .social-icons  {
    flex-direction: column;
  }

  
}
